<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset ="UTF-8">
    <title>Bookers</title>
    <link rel="stylesheet" href="/bookers/app/assets/stylesheets/index.css">
  </head>
  <body>
    <header>
      <h1>Books</h1>
    </header>
    <table>
      <tr>
        <th>Title</th>
        <th>Body</th>
        <th></th>
      </tr>

      <% @books.each do |book| %>
      <tr>
        <td><%= book.title %></td>
        <td><%= book.body %></td>
        <td><%= link_to "show",book_path(book) %>|<%= link_to "edit",edit_book_path(book) %>|<%= link_to "destroy",destroy_book_path(book),method: :delete ,data:{confirm: 'Are you sure?'}  %></td>
      <% end %>
      </tr>
    </table>

    <h1>New book</h1>
      <% if @book.errors.any? %>
        <%= @book.errors.count %>件のエラーが発生しました
         <% @book.errors.full_messages.each do |message| %>
          <%= message %> error
        <% end %>
      <% end %>
<!-- form_with部分 -->
    <%= form_with model:@book, local:true do |f| %>

      <h4>title</h4>
      <%= f.text_field :title %>

      <h4>body</h4>
      <%= f.text_area :body %>

      <%= f.submit 'Create Book' %>

    <% end %>